[defaults]
inventory = inventory/hosts.yml
remote_user = debian
private_key_file = ~/.ssh/id_ansible
host_key_checking = False
become = True
become_method = sudo

# Vault password (gitignore le fichier referenced)
vault_password_file = ~/.ansible/nova_vault_pass
