# =============================================================================
# Nova Syndicate -- terraform.tfvars
# Copier ce fichier en terraform.tfvars et remplir les vraies valeurs.
# Ce fichier .example est commite sur GitHub.
# terraform.tfvars ne l'est JAMAIS (.gitignore)
# =============================================================================

# IPs de management des firewalls
fw_ext_lyon_ip = "10.0.0.2"
fw_int_lyon_ip = "10.0.1.2"
fw_ext_mrs_ip  = "10.1.0.2"

# Cles API FW-EXT-LYON01
# Trouver dans : System > Access > Users > admin > API keys
fw_ext_lyon_api_key    = "VOTRE_CLE_API_FW_EXT"
fw_ext_lyon_api_secret = "VOTRE_SECRET_API_FW_EXT"

# Cles API FW-INT-LYON01
fw_int_lyon_api_key    = "VOTRE_CLE_API_FW_INT"
fw_int_lyon_api_secret = "VOTRE_SECRET_API_FW_INT"

# Cles API FW-EXT-MRS01
fw_ext_mrs_api_key    = "VOTRE_CLE_API_FW_MRS"
fw_ext_mrs_api_secret = "VOTRE_SECRET_API_FW_MRS"

# WireGuard -- cles generees avec : wg genkey | tee privkey | wg pubkey
wireguard_server_privkey = "kHr1jUZrNgtM3dKJJSsV2ncJc8ghDqoyOwYjUyIFk0U="
wireguard_agent1_pubkey  = "BjHbniDzlFLLcRkooelL9lY8NHgRE0GNq8JTmS6/VQo="
wireguard_agent2_pubkey  = ""  # laisser vide si pas d'agent 2

# IPsec PSK
ipsec_psk = "NovaIPsec2026"
